$clear-col: #ffffff;
$accent-col: #2196f3;
$header-line-col: #ececec;
$studio-text-col: #000000;
$main-text-col: #212121;
$secondary-text-col: #757575;
$our-team-bg-col: #f5f4fa;
$main-bg-col: #2f303a;
$btn-bg-col: #2196f3;
$btn-hover-col: #0a85eb;
$btn-text-col: #ffffff;
$overlay-bg-col: rgba(33, 150, 243, 0.9);
$backdrop-bg-col: rgba(0, 0, 0, 0.2);

// ! svg
$icon-color: #afb1b8;
$svg-box-bg-col: #f5f4fa;

// ! common styles
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $main-text-col;

  background-color: $clear-col;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
label {
  position: relative;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
svg {
  fill: currentColor;
}
.svg {
  fill: $secondary-text-col;
}
.svg:hover {
  fill: $accent-col;
}
address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.current_page {
  position: absolute;
  bottom: 0;

  width: 100%;

  border: 2px solid $accent-col;
  border-radius: 2px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex_container {
  display: flex;
  align-items: center;
}
.join-link-container {
  display: flex;
  align-items: baseline;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

// ! header

.header {
  height: 80px;

  border-bottom: 1px solid $header-line-col;
}

.Web {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  color: $accent-col;
}
.logo {
  font-style: normal;
}
.Studio {
  color: $studio-text-col;
}
.header-nav {
  margin-left: 93px;
}
.header-nav__list {
  display: flex;
}
.header-nav__item {
  position: relative;
}
.header-nav__item:not(:first-child) {
  margin-left: 50px;
}
.header-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  padding: 32px 0;
  display: block;

  color: $main-text-col;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $accent-col;
  }
  &:focus {
    color: $accent-col;
  }
}
.header-contacts__list {
  display: flex;
  margin-left: auto;
}
.header-contacts__item {
  margin-right: 30px;
}
.header-contacts__link {
  display: flex;
  align-items: center;

  padding: 32px 0;

  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: $secondary-text-col;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-col;
  }
}
.header-contacts__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  fill: currentColor;
}

// ! main

.main {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  padding: 200px 0;
  text-align: center;

  /* text-align   -   выравнивает кнопку по центру, т.к. кнопка - строчный элемент. */

  background-color: $main-bg-col;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main_bg_pic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main_tittle {
  width: 696px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $btn-text-col;
}

.main__button {
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;

  border: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: $btn-text-col;
  background-color: $accent-col;

  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $btn-text-col;
    background-color: $btn-hover-col;
    outline: none;
    box-shadow: 0 0 0 1.5px $accent-col;
  }
}

// ! modal
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;

  background-color: $backdrop-bg-col;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  padding: 40px;
  padding-top: 30px;

  color: $studio-text-col;
  background-color: $clear-col;
}
.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: calc(23 / 20);

  margin-bottom: 12px;

  color: $studio-text-col;
}
.modal__form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;

  /* gap: 10px; */
}
.modal-label {
  margin-bottom: 10px;
  &:focus-within .modal-label__icon {
    color: $accent-col;
  }
  &:hover .modal-label__icon {
    color: $accent-col;
  }
}

// ! modal svg hover & focus

.modal-label__last {
  margin-bottom: 20px;
}
.modal-label__text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  padding-right: 100%;
  color: $secondary-text-col;
}
.modal-label__input {
  width: 448px;
  height: 40px;
  margin-top: 4px;
  padding-left: 40px;

  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: $accent-col;
  }
  &:focus {
    border-color: $accent-col;
  }
}

.modal-label__icon {
  position: absolute;

  top: 32px;
  left: 15px;

  width: 18px;
  height: 18px;

  fill: $secondary-text-col;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__feedback {
  width: 448px;
  height: 138px;
  padding-left: 16px;
  padding-top: 12px;
  margin-top: 4px;

  outline: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    border-color: $accent-col;
  }
  &:focus {
    border-color: $accent-col;
  }
}

// ! checkbox

.modal-checkbox__container {
  display: flex;
  flex-direction: row-reverse;

  margin-bottom: 30px;
}
.modal-checkbox__checkbox {
  z-index: -1;
  opacity: 0;

  /* transition: fill, border-color, background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  transition-property: fill, border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__checkbox + .modal-checkbox__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.modal-checkbox__checkbox + .modal-checkbox__label::before {
  content: '';
  display: inline-block;
  align-items: center;

  width: 18px;
  height: 18px;

  flex-shrink: 0;
  flex-grow: 0;

  border: 1px solid #adb5bd;

  border-radius: 0.25em;
  margin-right: 0.5em;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;

  transition-property: fill, border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox__checkbox:checked + .modal-checkbox__label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
// * при наведении курсора на checkbox
.modal-checkbox__checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: $accent-col;
}
// * активное состояние чекбокса (при нажатии на него)
.modal-checkbox__checkbox:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
// * в фокусе
.modal-checkbox__checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
// * в фокусе и не в состоянии checked
.modal-checkbox__checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
// * в состоянии disabled
.modal-checkbox__checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.modal-checkbox__text {
  line-height: calc(24 / 14);

  color: $secondary-text-col;
}
.modal-checkbox__link {
  line-height: calc(24 / 14);
  text-decoration-line: underline;

  color: $accent-col;
}

// ! modal close btn
.modal__closeBtn {
  position: absolute;

  display: flex;
  align-items: center;

  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: $clear-col;

  /* transition-property: color;
      transition-delay: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}
.modal_closeBtnIcon {
  width: 18px;
  height: 18px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__closeBtn:hover,
.modal__closeBtn:focus {
  color: $accent-col;
}

.modal__submit {
  width: 200px;
  height: 50px;

  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  color: $btn-text-col;
  background-color: #188ce8;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $btn-text-col;
    background-color: $btn-hover-col;
    outline: none;
    box-shadow: 0 0 0 1.5px $accent-col;
  }
}

// ! traits

.main-traits__list {
  display: flex;
  gap: 30px;
}
.main-traits__svgContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  background: $svg-box-bg-col;
  border-radius: 4px;
  /* text-align: center; */

  margin-bottom: 30px;
}
.main-traits__icon {
  width: 70px;
  height: 70px;
}
.main-traits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  margin-bottom: 10px;
}
.main-traits__subtitle {
  width: 270px;
  line-height: 24px;

  color: $secondary-text-col;
}

// ! wawd

.main-wawd {
  text-align: center;
  padding-top: 0;
}
.main-wawd__title {
  margin: 0 auto;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
}
.main-wawd__list {
  display: flex;
  margin-top: 50px;
}

.main-wawd__item:not(:first-child) {
  margin-left: 30px;
}
.main-wawd__item {
  position: relative;
}
.main-wawd__description {
  position: absolute;
  bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 370px;
  height: 70px;

  font-weight: 700;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: $btn-text-col;
  background-color: rgba(47, 48, 58, 0.8);
}

// ! our team sect

.main-team {
  text-align: center;
  background-color: $our-team-bg-col;
}
.main-team__text {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
}

.main-team__list {
  display: flex;
  margin-top: 50px;
}
.main-team__item {
  margin-left: 30px;
  background-color: $clear-col;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-team__item:first-child {
  margin-left: 0;
}
.main-team__textContainer {
  padding: 30px 0;
}
.main-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;

  margin-bottom: 10px;
}
.main-team__job {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;

  margin-bottom: 16px;

  color: $secondary-text-col;
}
.main-team__linkslist {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.main-team__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: $icon-color;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $btn-text-col;
    background-color: $accent-col;
  }
}

.main-team__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

// ! customers

.main-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  margin-bottom: 50px;
}
.main-customers__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main-customers__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  outline: none;
  border-radius: 4px;
  border: 1px solid $icon-color;
  color: $icon-color;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-col;
    border-color: $accent-col;
  }
}

.customers__icon {
  width: 106px;
  height: 106px;
}

// ! footer

.footer {
  padding: 60px 0;

  background-color: $main-bg-col;
}

.footer_web {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);

  color: $accent-col;
}
.footer_studio {
  color: $btn-text-col;
}
.footer__contacts {
  line-height: 24px;

  color: $secondary-text-col;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:first-child) {
    margin-top: 9px;
  }
  &:hover,
  &:focus {
    color: $accent-col;
  }
}

.footer__map {
  line-height: 24px;

  color: $btn-text-col;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-col;
  }
}

.footer-join {
  margin-left: 70px;
}
.footer-join__text {
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: $btn-text-col;

  margin-bottom: 20px;
}
.footer-join__item {
  fill: white;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-join__link {
  color: white;
}

.footer-subscription {
  margin-left: auto;
}
.footer-subscription__title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 20px;

  color: $btn-text-col;
}

.footer-subscription__label {
  display: flex;
  color: $btn-text-col;
}
.footer-subscription__label > input {
  width: 358px;

  padding-left: 16px;

  outline: none;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: $btn-text-col;
  background-color: transparent;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscription__input:hover,
.footer-subscription__input:focus {
  border-color: $accent-col;
}

.footer-subscription__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  border: none;
  outline: none;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: $btn-text-col;
  background-color: $accent-col;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $btn-text-col;
    background-color: $btn-hover-col;
  }
  &:focus {
    color: $btn-text-col;
  }
}

.footer-subscription__icon {
  width: 35px;
  padding-left: 10px;
}

// ! portfolio

.filter_section {
  padding-top: 94px;
}
//  ! filter
.filter-list {
  display: flex;
  margin-bottom: 50px;

  gap: 8px;
  /* выравнивание кнопок */
  justify-content: center;
}

.filter-list__button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: none;

  padding: 6px 22px;

  cursor: pointer;

  //   color: $secondary-text-col;
  //   background-color: $our-team-bg-col;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    color: $btn-text-col;
    background-color: $btn-bg-col;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// ! img

.filter-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /* !!flex-basis didn't work!! */
  /* flex-basis: calc((100% - 40px) / 3); */
}
.filter-img__link {
  display: block;
}
.filter-img__overlaySquare {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transform: translatey(150%);

  background-color: $overlay-bg-col;
}
.overlay__text {
  padding-left: 15px;
  padding-top: 45px;

  font-size: 18px;
  line-height: calc(28 / 18);

  color: $btn-text-col;
}
.filter-img__link {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.filter-img__descContainer {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}
.filter-img__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: $main-text-col;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.filter-img__subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);

  color: $secondary-text-col;
}
// ! don't move ".current_btn" & ".current"
.current_btn {
  color: $btn-text-col;
  background-color: $btn-bg-col;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.current {
  color: $accent-col;
}
